/bin
*.[oa]
*~
.project
.classpath
.DS_Store
/Playground/kieran/StintEditor/nbproject/private/
/Playground/kieran/StintEditor/dist/
/Playground/kieran/StintEditor/build/
/Playground/Marcus/JavaApplication1/nbproject/private/
/Playground/Marcus/JavaLibrary1/nbproject/private/
/Playground/Marcus/HelloWorldApp/nbproject/private/
/Playground/Marcus/HelloWorldApp/build/
/Playground/Marcus/HelloWorldApp/dist/
/Playground/Marcus/NumberAddition/nbproject/private/
/Playground/Marcus/NumberAddition/build/
/Playground/Marcus/baseUI/nbproject/private/
/Playground/Marcus/baseUI/build/
/Playground/Marcus/groundsio/JavaApplication1/nbproject/private/
/Playground/Marcus/groundsio/JavaApplication1/build/