/bin
*.[oa]
*~
.project
.classpath
.DS_Store
/Playground/kieran/StintEditor/nbproject/private/
/Playground/kieran/StintEditor/dist/
/Playground/kieran/StintEditor/build/
/Playground/kieran/JavaFXApplication6/nbproject/private/
/Playground/kieran/JavaFXApplication6/build/
/Playground/kieran/JavaFXApplication6/dist/
/Playground/kieran/JavaFXApplication8/nbproject/private/
/Playground/kieran/JavaFXApplication8/dist/
/Playground/kieran/JavaFXApplication8/build/
/Playground/kieran/JavaFXApplication9/nbproject/private/
/Playground/kieran/JavaFXApplication10/nbproject/private/
/Playground/kieran/JavaFXApplication11/nbproject/private/
/Playground/kieran/JavaFXApplication12/nbproject/private/
/Playground/kieran/JavaFXApplication13/nbproject/private/
/Playground/Marcus/JavaApplication1/nbproject/private/
/Playground/Marcus/JavaLibrary1/nbproject/private/
/Playground/Marcus/HelloWorldApp/nbproject/private/
/Playground/Marcus/HelloWorldApp/build/
/Playground/Marcus/HelloWorldApp/dist/